# Data Exploration

1. Identify keywords in description. (AWS, Python, SQL, R, Tableau, Excel, Powerbi, Spark, Hadoop, Tensorflow)

In [3]:
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [5]:
df = pd.read_csv('jobs_cleaned.csv')

In [6]:
df.head()

,Unnamed: 0,Unnamed: 0.1,company,job_title,listing_id,address,employment_type,seniority,min_exp,job_cat,salary_range,salary_unit,date_posted,date_expiry,job_description,avg_salary
0,0,0,DELIVERY HERO APAC PTE. LIMITED,analyst,MCF-2021-0240128,"CROSS STREET EXCHANGE, 18 CROSS STREET 048423",full time,Junior Executive,2,information technology,"$5,000to$8,500",Monthly,Posted 27 May 2021,Closing on 26 Jun 2021,Roles & Responsibilities\nWe are looking for a...,6750.0
1,1,1,HELIUS TECHNOLOGIES PTE. LTD.,analyst,MCF-2021-0238815,Islandwide,full time,Senior Executive,6,information technology,"$6,800to$9,000",Monthly,Posted 27 May 2021,Closing on 26 Jun 2021,Roles & Responsibilities\nTitle: Senior Data A...,7900.0
2,2,2,COMFORTDELGRO CORPORATION LIMITED,analyst,MCF-2021-0190739,205 BRADDELL ROAD 579701,full time,Senior Executive,2,others,"$4,500to$7,000",Monthly,Posted 28 Apr 2021,Closing on 28 May 2021,Roles & Responsibilities\nWho are We Looking F...,5750.0
3,3,3,DARAZ SINGAPORE PRIVATE LIMITED,analyst,MCF-2021-0240086,"AXA TOWER, 8 SHENTON WAY 068811",full time,Senior Executive,3,information technology,"$6,000to$9,000",Monthly,Posted 27 May 2021,Closing on 26 Jun 2021,Roles & Responsibilities\nWe are looking for a...,7500.0
4,4,4,BIPO SERVICE (SINGAPORE) PTE. LTD.,analyst,MCF-2021-0240396,Islandwide,full time,Manager,5,banking and finance,"$9,000to$15,000",Monthly,Posted 27 May 2021,Closing on 26 Jun 2021,Roles & Responsibilities\nJob Description:\nLe...,12000.0

## Creating dummy variables for each keyword (AWS, Python, SQL, R, Tableau, Excel, Powerbi, Spark, Hadoop, Tensorflow)

In [9]:
#AWS
df['aws'] = df['job_description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)
df.aws.value_counts()

0    261
1     33
Name: aws, dtype: int64

In [10]:
#python
df['python'] = df['job_description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
df.python.value_counts()

0    151
1    143
Name: python, dtype: int64

In [11]:
#SQL
df['sql'] = df['job_description'].apply(lambda x: 1 if 'sql' in x.lower() else 0)
df.sql.value_counts()

1    175
0    119
Name: sql, dtype: int64

In [12]:
#R
df['r'] = df['job_description'].apply(lambda x: 1 if (' r ' in x.lower() or ' r,' in x.lower() or ' r/' in x.lower()) else 0)
df.r.value_counts()

0    215
1     79
Name: r, dtype: int64

In [14]:
#Tablaeu
df['tableau'] = df['job_description'].apply(lambda x: 1 if 'tableau' in x.lower() else 0)
df.tableau.value_counts()

0    175
1    119
Name: tableau, dtype: int64

In [15]:
#Excel
df['excel'] = df['job_description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)
df.excel.value_counts()

0    163
1    131
Name: excel, dtype: int64

In [16]:
#powerbi
df['powerbi'] = df['job_description'].apply(lambda x: 1 if 'powerbi' in x.lower() else 0)
df.powerbi.value_counts()

0    254
1     40
Name: powerbi, dtype: int64

In [17]:
#Spark
df['spark'] = df['job_description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)
df.spark.value_counts()

0    266
1     28
Name: spark, dtype: int64

In [18]:
#Hadoop
df['hadoop'] = df['job_description'].apply(lambda x: 1 if 'hadoop' in x.lower() else 0)
df.hadoop.value_counts()

0    274
1     20
Name: hadoop, dtype: int64

In [21]:
#Tensorflow
df['tensorflow'] = df['job_description'].apply(lambda x: 1 if 'tensorflow' in x.lower() else 0)
df.tensorflow.value_counts()

0    288
1      6
Name: tensorflow, dtype: int64