In [224]:
import pandas as pd
from re import sub

In [225]:
df = pd.read_csv("jobs.csv")

In [226]:
df.head()

,Unnamed: 0,company,job_title,listing_id,address,employment_type,seniority,min_exp,job_cat,salary_range,salary_unit,date_posted,date_expiry,job_description
0,0,DELIVERY HERO APAC PTE. LIMITED,Data Analyst - Fintech (APAC),MCF-2021-0240128,"CROSS STREET EXCHANGE, 18 CROSS STREET 048423",Full Time,Junior Executive,2 years exp,Information Technology,"$5,000to$8,500",Monthly,Posted 27 May 2021,Closing on 26 Jun 2021,Roles & Responsibilities\nWe are looking for a...
1,1,HELIUS TECHNOLOGIES PTE. LTD.,Senior Data Analyst,MCF-2021-0238815,Islandwide,Full Time,Senior Executive,6 years exp,Information Technology,"$6,800to$9,000",Monthly,Posted 27 May 2021,Closing on 26 Jun 2021,Roles & Responsibilities\nTitle: Senior Data A...
2,2,COMFORTDELGRO CORPORATION LIMITED,Data Analyst,MCF-2021-0190739,205 BRADDELL ROAD 579701,"Permanent, Full Time",Senior Executive,2 years exp,Others,"$4,500to$7,000",Monthly,Posted 28 Apr 2021,Closing on 28 May 2021,Roles & Responsibilities\nWho are We Looking F...
3,3,DARAZ SINGAPORE PRIVATE LIMITED,Regional Data Analyst,MCF-2021-0240086,"AXA TOWER, 8 SHENTON WAY 068811",Full Time,Senior Executive,3 years exp,Information Technology,"$6,000to$9,000",Monthly,Posted 27 May 2021,Closing on 26 Jun 2021,Roles & Responsibilities\nWe are looking for a...
4,4,BIPO SERVICE (SINGAPORE) PTE. LTD.,Data Analyst Lead / Manager,MCF-2021-0240396,Islandwide,Permanent,Manager,5 years exp,Banking and Finance,"$9,000to$15,000",Monthly,Posted 27 May 2021,Closing on 26 Jun 2021,Roles & Responsibilities\nJob Description:\nLe...

## Re-categorise job_titles

In [227]:
df.job_title.unique()

array(['Data Analyst - Fintech (APAC)', 'Senior Data Analyst',
       'Data Analyst', 'Regional Data Analyst',
       'Data Analyst Lead / Manager', 'Quality Data Analyst',
       'Senior Data Management Business Analyst',
       'Data Migration Analyst - Contract = 12 months',
       'Techno-Functional Business Analyst, Data Protection Program',
       'Senior / Analyst (Heath Informatics and Data Analytics)',
       'Technical Business Analyst, Data Solution',
       'Data Loss Prevention & Forensic Analyst', 'Junior Data Analyst',
       '[MAS] #WSIP #SGUnitedJobs, Assistant Director, Data Analyst and Report Developer (Contract)',
       'Analyst - Senior Principal Analyst (Research and Statistics Unit / Energy Technology & Data Department)',
       'Business Data Analyst', 'Lead Data Analyst',
       'Regional Sales & Marketing Data Analyst, APAC #SGUnitedTraineeships #SGUP',
       'Data Analyst (106)',
       '[MAS] #WSIP #SGUnitedJobs Assistant Director, Data Analyst (Contract)',
       'Data Analyst (Policy)',
       'Data Analyst Trainee #SGUnitedTraineeships #SGUP',
       'Matter Finance Data Analyst (APAC)',
       'Data Analyst (Bank) (Ref: JT)',
       'Data Business Analyst (Banking - Financial Market Data Remediation) - 1 year contract',
       'Data Migration Analyst', 'Data Visualisation Analyst',
       'Junior Data Visualization Analyst', 'Chief Data Scientist',
       'Business Analyst (No experience / up to $2,500)',
       'Database Test Manager',
       'Data Analyst #SGUnitedTraineeships #SGUP',
       'Temp Data Analyst (5-6 months contract)',
       'Assistant Manager - Data Analyst', 'Cloud Big Data Analyst',
       'Data Analyst (Power BI)',
       'Senior / Data Analyst, Vigilance and Compliance Branch',
       'Infrastructure & Marine Data Analyst',
       'Senior Business Data Analyst',
       'Data Analyst, Compliance Strategy and Analytics - 1 Year Contract',
       'Data Science Analyst',
       'DATA ENGINEER (FIXED-TERM) – CENTRE OF LEARNING & TEACHING EXCELLENCE',
       'Data Scientist', 'Web Developer',
       '#SgUnitedJobs Senior Research Engineer (IIoT Data Analytic), I3',
       '#SgUnitedJobs Research Engineer (IIoT Data Analytic), I3',
       '#PublicService #SGUnited Data Analyst (Finance Operations & Treasury) - Contract',
       'Data Reporting Analyst', 'Data Analyst- Financial Services',
       'Data Analyst, eCommerce', 'SAP Data Analyst',
       'Pricing Report and Data Analyst (Brokerage Firm)',
       'Data Analyst / Modeler', 'Data Analyst Positions in Singapore',
       'SGUnited Trainee, Data Analyst, IBG-COO Data CoE, Institutional Banking Group (1_30) #SGUnitedTraineeships #SGUP',
       'SGUnited Trainee, Data Analyst - Group IBG Operations, Technology & Operations (1_49) #SGUnitedTraineeships #SGUP',
       'SGUnited Trainee, Data Analyst, T&O Group Procurement Services, Technology & Operations (1_165) #SGUnitedTraineeships #SGUP',
       'Data & Programming Analyst #SGUnitedTraineeships #SGUP',
       'Digital Performance Marketing Executive and Data Analyst',
       'SGUnited Trainee, Data Analyst - Group Portfolio Analytics, Risk Management Group (1_132) #SGUnitedTraineeships #SGUP',
       'SGUnited Trainee, AML Data Analyst - IBG COO, Institutional Banking Group (1_147) #SGUnitedTraineeships #SGUP',
       'Psychology Manager (Up to $7000, Applied Research, Tableau, Data Analyst)',
       'Data Analyst, Quality Assurance, Greater Asia',
       'Data Analyst - Contract',
       'Junior Data Analyst (1 year / SAP System)',
       'SGUnited Trainee, Data Analyst - CBG Credit, Risk Management Group (1_37) #SGUnitedTraineeships #SGUP',
       'Data Analyst - Permanent Role - Up to 3k X 13 months',
       'Data and Regulatory Reporting Analyst',
       'Data Visualization Analyst',
       'AVP / VP, Data in Motion Analyst (DLP), Cyber Security Defense, Global Information Security',
       'Data Modeler', 'Data Engineer', 'Business Analyst',
       'Junior Data Planner', 'Senior Data Scientist',
       'SGUnited Trainee, Business Planning & Communications - Consumer Banking Group Operations, Technology & Operations (1_57) #SGUnitedTraineeships #SGUP',
       'SGUnited Trainee, Tax Transformation, Group Finance (1_166) #SGUnitedTraineeships #SGUP',
       'Senior Executive, Partnership & Loyalty',
       'Data Analyst (SAP Lumira / BI / BWH)',
       'Data Analyst / Data Analyst Associate#SGUnitedJobs',
       'SGUnited Trainee, Data Analyst, IBG-COO Data CoE, Institutional Banking Group (1_23) #SGUnitedTraineeships #SGUP',
       'Senior TechOps Data Analyst', 'Data Analyst (Pioneer MRT)',
       'SGUnited Trainee, Data Analyst - Global Transaction Services, Institutional Banking Group (1_14) #SGUnitedTraineeships #SGUP',
       'Product Data Analyst (12 Months Contract)',
       'Regional Finance Data Analyst, APAC #SGUnitedTraineeships #SGUP',
       'Executive (Health Data Analyst), SingHealth Duke-NUS Transplant Centre',
       'SGUnited Trainee, Data Analyst, Group Finance (1_120) #SGUnitedTraineeships #SGUP',
       '"#SGUnitedJobs" Research Engineer- Cloud and data analyst',
       'Senior Analyst (Data Management), Office for Insights and Analytics (Contract)',
       'Data Analyst - Business Intelligence', 'Data Engineer (PERM)',
       'Data Scientist_EDP', 'Visualisation Engineer_EDP',
       'Business Analyst cum Data Analyst', 'IT Data Analyst',
       'Data Analyst (Recruited for one of TLA’s startups focus on urban Aquaculture solution)',
       'Trainee Data Management & Solutions Analyst, Data Office, Strategy Division',
       'Data Support Analyst #SGUnitedTraineeships #SGUP',
       'Data Engineer - Permanent', 'ETL & SQL Developer (Permanent)',
       'Data Analyst (SP Digital)',
       'Business & Data Analyst, Market Risk Technology',
       'Contract Bank Data Analyst',
       'Business Data Analyst #SGUnitedTraineeships #SGUP',
       'Data Analyst / Engineer',
       'Marketing Data Analyst [SAS / SQL] - Up to $6K',
       'Analyst / Associate, Data Analysis (Japanese Speaking)',
       'Data Specialist - CardsPal',
       'Executive, Operations Information System',
       'Senior Data Scientist / Data Scientist / Data Analyst (Compliance Strategy & Insights Division)',
       'Data Analyst - Insights and Advanced Analytics (NFC / Health)',
       'IT Data Analyst , Tableau and Power BI experience (Data Analytics) - KNY',
       'Data Analyst - up to $6K',
       'Data Analyst for Ministries (Island wide)',
       'Senior Data Analyst (NLP)',
       'Senior Analyst / Analyst, Valuation & Stamp Duty (Property Tax Division) - Data',
       'Data Business Analyst',
       'IT Analyst (Statistics and Data Governance)',
       'Analyst, Data Science #SGUnitedTraineeships #SGUP',
       'Reference Data Operations - Analyst',
       'Senior Analyst- Data, Manufacturing System',
       'Business Analyst (Salesforce & CRM)',
       'Data Governance Consultant (12 months contract)',
       'Senior Tableau Developer', 'Data Science Engineer',
       'Data Management Lead (Partners Engaging and Empowering Rough Sleepers Office), OED / ELG',
       'Data Analyst (JD#6919)', 'Jnr Data Analyst Intern',
       'Senior Manager / Program Manager / Group Technical Manager / Group Technical Specialist / Solutions Architect / Senior Program Manager / Senior Solutions Architect - Data Architect',
       'Technical Manager / Technical Specialist / Technical Architect / Senior Technical Manager / Senior Technical Specialist / Senior Technical Architect - Data Architect',
       'Technical Lead / Senior Technical Lead / Senior Consultant / Lead Consultant - Data Architect',
       'Data Analyst (JT)', 'Business Analyst (Data Visualization) (JT)',
       'QA Engineer', 'Senior / Data Analyst', 'Data Analyst Assistant',
       'Data Analyst (Viet language)', 'Data Analyst (YC)',
       'Data Analyst (Excel, VLOOK UP and Pivot Table)',
       'Data Governance Consultant (12 months)',
       'Compliance Conduct Operational Risk - Data Management – Associate',
       'Visualisation Engineer', 'Operations Specialist',
       'Data Analyst - Web Analytics', '#SGunitedJobs Data Analyst (RPA)',
       'Operations Data Analyst & Management Associate',
       'Lead Data Analyst (Digital Marketing)',
       'Analytics Success Manager', 'Data Analyst / Senior Data Analyst',
       'Data Analyst (QlikSense)', 'Data Quality Management Analyst',
       'Business Analyst (Data Visualization)',
       'Business Analyst (Data Modelling)',
       'Business Analyst for Data & Analytics',
       'Data Steward, Performance Technology',
       'Data Scientist - CardsPal',
       'Business Planning and Operations Analyst', 'Tableau Developer',
       'Manager - Operations, Planning & Controlling',
       'Regional Associate Data Analyst',
       'Data Analyst / Data Manager (Contract) #SGUnitedJobs',
       'Senior Associate / Associate, Data Analyst [Data Analytics Division] (#SGUnitedTraineeships)(#SGUP)(#Public Service)',
       'Credit Data Analyst #SGUnitedTraineeships #SGUP',
       'Senior Associate - Data Associate / Analyst [Digital Experience, Career Services, Data Analytics Division] (#SGUP)(#Public Service)',
       'Senior / Lead Data Analyst', 'Data Analyst Intern',
       'Data Scientist / Analyst (Transformation & Data Office), Strategic Planning and Policy Division',
       'Sales Data Quality Analyst', 'AML Analyst (3 months Contract)',
       'Senior Data Engineer', 'Master Data Analyst Consultant',
       'Master Data Analyst', 'L&D Data Analyst',
       'Data Analyst / Programmer (Python)',
       'Data Analyst (Data Management Unit, Contact Tracing Centre) (One-Year Contract)',
       'Data Analyst Engineer', 'Big Data Analytics', 'Big Data Analyst',
       'Data Analyst (SQL) (Bank) (JT)',
       'Associate, Data Analyst - Collection MIS & Analytics, Consumer Banking, Risk Management Group (WD22377)',
       'Material Data Analyst (SAP)',
       'Data governance Business Analyst (JT)',
       'Business Analyst (Digital Services, AGILE, Data Migration)',
       'Master Scheduler / Production Planner',
       'QA Engineer (Harddisk / No experience required)',
       'Data Analyst (Ecommerce)', 'Assistant Data Scientist / Analyst',
       'Product Owner', 'IT Governance & QA Analyst', 'Backend Engineer',
       'Research Engineer (User Experience Designer)',
       'Data Analyst - Ref: YC',
       'Business Analyst (Data Governance) - Ref: YC',
       'Marketing Analyst',
       'VP, Big Data Analytics, Institutional Banking Technology, Technology and Operations (WD22264)',
       '1 Year Contract Data Warehouse Analyst (Foreign Bank)',
       'Insights Manager',
       'Lead Analyst, Data Governance Framework & Policies',
       'Assistant Vice President, Business Analyst, Data Management Office',
       'Business Analyst (Data Analytics Projects) (JT)',
       'CMI - Sales & Data - Omega - Business Analyst - Senior 874',
       'Data Consultant',
       'Business Data Analyst (Strategy Analytics & Intel)',
       'Senior Data Analyst, Business Intelligence & Viz',
       'Data Analyst-Internal Audit and Risk Control',
       'IT Business Analyst & Data Analyst'], dtype=object)

We will first categorise the jobs into the following:

1. Analyst

2. Data Scientist

3. Engineer

4. Consultant

In [228]:
def job_title_recat(title):
    title = title.lower()
    if 'analyst' in title or 'analytics' in title:
        return 'analyst'
    elif 'data scientist' in title:
        return 'data scientist'
    elif 'engineer' in title:
        return 'engineer'
    elif 'consultant' in title:
        return 'consultant'
    else:
        return title

In [229]:
df['job_title'] = df['job_title'].apply(job_title_recat)

In [230]:
df.job_title.unique()

array(['analyst', 'data scientist', 'database test manager', 'engineer',
       'web developer', 'data modeler', 'junior data planner',
       'sgunited trainee, business planning & communications - consumer banking group operations, technology & operations (1_57) #sgunitedtraineeships #sgup',
       'sgunited trainee, tax transformation, group finance (1_166) #sgunitedtraineeships #sgup',
       'senior executive, partnership & loyalty',
       'etl & sql developer (permanent)', 'data specialist - cardspal',
       'executive, operations information system', 'consultant',
       'senior tableau developer',
       'data management lead (partners engaging and empowering rough sleepers office), oed / elg',
       'senior manager / program manager / group technical manager / group technical specialist / solutions architect / senior program manager / senior solutions architect - data architect',
       'technical manager / technical specialist / technical architect / senior technical manager / senior technical specialist / senior technical architect - data architect',
       'compliance conduct operational risk - data management – associate',
       'operations specialist', 'data steward, performance technology',
       'tableau developer',
       'manager - operations, planning & controlling',
       'master scheduler / production planner', 'product owner',
       'insights manager'], dtype=object)

After the first round of transformation, we notice other title categories not yet considered. Most notably:

1. Manager

2. Developer

3. Trainee

4. Architect

5. Data management


We will further recategorise the job titles.

In [231]:
def job_title_recat_2(title):
    title = title.lower()
    if 'manager' in title:
        return 'manager'
    elif 'developer' in title:
        return 'developer'
    elif 'trainee' in title:
        return 'trainee'
    elif 'architect' in title:
        return 'architect'
    elif 'data management' in title:
        return 'data management'
    else:
        return title

In [232]:
df['job_title'] = df['job_title'].apply(job_title_recat_2)

In [233]:
df.job_title.unique()

array(['analyst', 'data scientist', 'manager', 'engineer', 'developer',
       'data modeler', 'junior data planner', 'trainee',
       'senior executive, partnership & loyalty',
       'data specialist - cardspal',
       'executive, operations information system', 'consultant',
       'data management', 'operations specialist',
       'data steward, performance technology',
       'master scheduler / production planner', 'product owner'],
      dtype=object)

we will reclassify the remaining job titles as "others"

In [234]:
def job_title_recat_final(title):
    title = title.lower()
    if 'analyst' in title or 'analytics' in title:
        return 'analyst'
    elif 'data scientist' in title:
        return 'data scientist'
    elif 'engineer' in title:
        return 'engineer'
    elif 'consultant' in title:
        return 'consultant'
    elif 'manager' in title:
        return 'manager'
    elif 'developer' in title:
        return 'developer'
    elif 'trainee' in title:
        return 'trainee'
    elif 'architect' in title:
        return 'architect'
    elif 'data management' in title:
        return 'data management'
    else:
        return 'others'

In [235]:
df['job_title'] = df['job_title'].apply(job_title_recat_final)

In [236]:
df.job_title.value_counts()

analyst            243
engineer            23
data scientist      13
others              12
manager              5
developer            5
consultant           4
data management      2
trainee              2
Name: job_title, dtype: int64

In [237]:
df

,Unnamed: 0,company,job_title,listing_id,address,employment_type,seniority,min_exp,job_cat,salary_range,salary_unit,date_posted,date_expiry,job_description
0,0,DELIVERY HERO APAC PTE. LIMITED,analyst,MCF-2021-0240128,"CROSS STREET EXCHANGE, 18 CROSS STREET 048423",Full Time,Junior Executive,2 years exp,Information Technology,"$5,000to$8,500",Monthly,Posted 27 May 2021,Closing on 26 Jun 2021,Roles & Responsibilities\nWe are looking for a...
1,1,HELIUS TECHNOLOGIES PTE. LTD.,analyst,MCF-2021-0238815,Islandwide,Full Time,Senior Executive,6 years exp,Information Technology,"$6,800to$9,000",Monthly,Posted 27 May 2021,Closing on 26 Jun 2021,Roles & Responsibilities\nTitle: Senior Data A...
2,2,COMFORTDELGRO CORPORATION LIMITED,analyst,MCF-2021-0190739,205 BRADDELL ROAD 579701,"Permanent, Full Time",Senior Executive,2 years exp,Others,"$4,500to$7,000",Monthly,Posted 28 Apr 2021,Closing on 28 May 2021,Roles & Responsibilities\nWho are We Looking F...
3,3,DARAZ SINGAPORE PRIVATE LIMITED,analyst,MCF-2021-0240086,"AXA TOWER, 8 SHENTON WAY 068811",Full Time,Senior Executive,3 years exp,Information Technology,"$6,000to$9,000",Monthly,Posted 27 May 2021,Closing on 26 Jun 2021,Roles & Responsibilities\nWe are looking for a...
4,4,BIPO SERVICE (SINGAPORE) PTE. LTD.,analyst,MCF-2021-0240396,Islandwide,Permanent,Manager,5 years exp,Banking and Finance,"$9,000to$15,000",Monthly,Posted 27 May 2021,Closing on 26 Jun 2021,Roles & Responsibilities\nJob Description:\nLe...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,304,COMFORTDELGRO CORPORATION LIMITED,analyst,MCF-2021-0190739,205 BRADDELL ROAD 579701,"Permanent, Full Time",Senior Executive,2 years exp,Others,"$4,500to$7,000",Monthly,Posted 28 Apr 2021,Closing on 28 May 2021,Roles & Responsibilities\nWho are We Looking F...
305,305,THE GREAT EASTERN LIFE ASSURANCE COMPANY LIMITED,analyst,MCF-2021-0190284,"GREAT EASTERN CENTRE, 1 PICKERING STREET 048659",Full Time,Senior Executive,1 year exp,Insurance,"$3,800to$7,000",Monthly,Posted 28 Apr 2021,Closing on 28 May 2021,Roles & Responsibilities\nJob Purpose\nThe Bus...
306,306,TIKTOK PTE. LTD.,analyst,MCF-2021-0191253,1 RAFFLES QUAY 048583,Full Time,Professional,3 years exp,Others,"$7,500to$15,000",Monthly,Posted 28 Apr 2021,Closing on 28 May 2021,Roles & Responsibilities\nTikTok is the leadin...
307,307,OPTIMUM SOLUTIONS (SINGAPORE) PTE LTD,analyst,MCF-2021-0190044,"PLAZA 8 @ CBP, 1 CHANGI BUSINESS PARK CRESCENT...",Full Time,Executive,5 years exp,"Information Technology, Insurance","$6,800to$7,800",Monthly,Posted 28 Apr 2021,Closing on 28 May 2021,Roles & Responsibilities\nRoles and Responsibi...
308,308,ACCREDIFY PTE. LTD.,analyst,MCF-2021-0190578,75 AYER RAJAH CRESCENT 139953,Full Time,Fresh/entry level,NaN,Information Technology,"$3,000to$4,000",Monthly,Posted 28 Apr 2021,Closing on 28 May 2021,Roles & Responsibilities\nAccredify is a well-...

Next, we re-catagorise employment_type.

In [238]:
df.employment_type.unique()

array(['Full Time', 'Permanent, Full Time', 'Permanent',
       'Contract, Full Time', 'Contract', 'Internship/Traineeship',
       'Temporary', 'Contract, Permanent',
       'Contract, Permanent, Full Time',
       'Contract, Internship/Traineeship',
       'Full Time, Internship/Traineeship', 'Part Time, Full Time',
       'Flexi-work', 'Contract, Permanent, Full Time, Flexi-work',
       'Temporary, Full Time'], dtype=object)

We will clasify the employment types into the following:

1. Full Time

2. Internship/Traineeship

3. Temporary

4. Flexi-work

In [239]:
def job_type_recat(job_type):
    job_type=job_type.lower()
    if "internship" in job_type or "traineeship" in job_type:
        return "internship/traineeship"
    elif "temporary" in job_type:
        return "temporary"
    elif "permanent" in job_type or "full time" in job_type:
        return "full time"
    elif "flexi-work" in job_type:
        return "flexi-work"
    else:
        return job_type

In [240]:
df['employment_type'] = df['employment_type'].apply(job_type_recat)

In [241]:
df.employment_type.value_counts()

full time                 224
contract                   52
internship/traineeship     27
temporary                   4
flexi-work                  2
Name: employment_type, dtype: int64

all employment types have been reclassified.

# Re-catagorising seniority

In [242]:
df.seniority.value_counts()

Executive            92
Professional         66
Senior Executive     51
Fresh/entry level    42
Junior Executive     16
Manager              16
Middle Management     6
Senior Management     4
Non-executive         3
Name: seniority, dtype: int64

Job seniority has been classified distinctly. We will use the pre-classified labels.

# Converting min_exp into numerical data

In [243]:
def min_exp_to_num(input):
    if type(input) == float:
        return 0
    else:
        return input.split()[0]

In [244]:
df['min_exp'] = df['min_exp'].apply(min_exp_to_num)

,Unnamed: 0,company,job_title,listing_id,address,employment_type,seniority,min_exp,job_cat,salary_range,salary_unit,date_posted,date_expiry,job_description,min_exp_type
0,0,DELIVERY HERO APAC PTE. LIMITED,analyst,MCF-2021-0240128,"CROSS STREET EXCHANGE, 18 CROSS STREET 048423",full time,Junior Executive,2,Information Technology,"$5,000to$8,500",Monthly,Posted 27 May 2021,Closing on 26 Jun 2021,Roles & Responsibilities\nWe are looking for a...,<class 'str'>
1,1,HELIUS TECHNOLOGIES PTE. LTD.,analyst,MCF-2021-0238815,Islandwide,full time,Senior Executive,6,Information Technology,"$6,800to$9,000",Monthly,Posted 27 May 2021,Closing on 26 Jun 2021,Roles & Responsibilities\nTitle: Senior Data A...,<class 'str'>
2,2,COMFORTDELGRO CORPORATION LIMITED,analyst,MCF-2021-0190739,205 BRADDELL ROAD 579701,full time,Senior Executive,2,Others,"$4,500to$7,000",Monthly,Posted 28 Apr 2021,Closing on 28 May 2021,Roles & Responsibilities\nWho are We Looking F...,<class 'str'>
3,3,DARAZ SINGAPORE PRIVATE LIMITED,analyst,MCF-2021-0240086,"AXA TOWER, 8 SHENTON WAY 068811",full time,Senior Executive,3,Information Technology,"$6,000to$9,000",Monthly,Posted 27 May 2021,Closing on 26 Jun 2021,Roles & Responsibilities\nWe are looking for a...,<class 'str'>
4,4,BIPO SERVICE (SINGAPORE) PTE. LTD.,analyst,MCF-2021-0240396,Islandwide,full time,Manager,5,Banking and Finance,"$9,000to$15,000",Monthly,Posted 27 May 2021,Closing on 26 Jun 2021,Roles & Responsibilities\nJob Description:\nLe...,<class 'str'>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,304,COMFORTDELGRO CORPORATION LIMITED,analyst,MCF-2021-0190739,205 BRADDELL ROAD 579701,full time,Senior Executive,2,Others,"$4,500to$7,000",Monthly,Posted 28 Apr 2021,Closing on 28 May 2021,Roles & Responsibilities\nWho are We Looking F...,<class 'str'>
305,305,THE GREAT EASTERN LIFE ASSURANCE COMPANY LIMITED,analyst,MCF-2021-0190284,"GREAT EASTERN CENTRE, 1 PICKERING STREET 048659",full time,Senior Executive,1,Insurance,"$3,800to$7,000",Monthly,Posted 28 Apr 2021,Closing on 28 May 2021,Roles & Responsibilities\nJob Purpose\nThe Bus...,<class 'str'>
306,306,TIKTOK PTE. LTD.,analyst,MCF-2021-0191253,1 RAFFLES QUAY 048583,full time,Professional,3,Others,"$7,500to$15,000",Monthly,Posted 28 Apr 2021,Closing on 28 May 2021,Roles & Responsibilities\nTikTok is the leadin...,<class 'str'>
307,307,OPTIMUM SOLUTIONS (SINGAPORE) PTE LTD,analyst,MCF-2021-0190044,"PLAZA 8 @ CBP, 1 CHANGI BUSINESS PARK CRESCENT...",full time,Executive,5,"Information Technology, Insurance","$6,800to$7,800",Monthly,Posted 28 Apr 2021,Closing on 28 May 2021,Roles & Responsibilities\nRoles and Responsibi...,<class 'str'>
308,308,ACCREDIFY PTE. LTD.,analyst,MCF-2021-0190578,75 AYER RAJAH CRESCENT 139953,full time,Fresh/entry level,0,Information Technology,"$3,000to$4,000",Monthly,Posted 28 Apr 2021,Closing on 28 May 2021,Roles & Responsibilities\nAccredify is a well-...,<class 'float'>

# Re-catagorising job_cat

In [245]:
df.job_cat.value_counts()

Information Technology                                                                            127
Banking and Finance                                                                                39
Banking and Finance, Information Technology                                                        20
Others                                                                                             18
Public / Civil Service                                                                             12
Consulting                                                                                          9
Engineering                                                                                         6
Insurance                                                                                           4
Healthcare / Pharmaceutical                                                                         4
Information Technology, Others                                                                      3
Consulting, Information Technology                                                                  3
Sciences / Laboratory / R&D                                                                         3
Banking and Finance, Consulting, Information Technology                                             3
Banking and Finance, Risk Management                                                                3
Marketing / Public Relations                                                                        3
Banking and Finance, Information Technology, Risk Management                                        2
Engineering, Information Technology, Sciences / Laboratory / R&D                                    2
Information Technology, Marketing / Public Relations                                                2
Engineering, Information Technology                                                                 2
Public / Civil Service, Others                                                                      2
Information Technology, Public / Civil Service                                                      2
Accounting / Auditing / Taxation, Public / Civil Service                                            2
Advertising / Media                                                                                 2
Healthcare / Pharmaceutical, Information Technology                                                 1
Banking and Finance, Information Technology, Professional Services                                  1
Logistics / Supply Chain, Risk Management                                                           1
Information Technology, Marketing / Public Relations, Sales / Retail, Others, Wholesale Trade       1
Healthcare / Pharmaceutical, Information Technology, Others                                         1
Accounting / Auditing / Taxation, Banking and Finance, Consulting                                   1
Banking and Finance, Others                                                                         1
Advertising / Media, Engineering                                                                    1
Consulting, Risk Management                                                                         1
Engineering, Manufacturing                                                                          1
Information Technology, Insurance                                                                   1
Human Resources                                                                                     1
Healthcare / Pharmaceutical, Public / Civil Service                                                 1
Logistics / Supply Chain, Sales / Retail                                                            1
Healthcare / Pharmaceutical, Insurance, Others                                                      1
Accounting / Auditing / Taxation                                                                    1
Building and Construction                                                                           1
Customer Service, Logistics / Supply Chain                                                          1
Consulting, Information Technology, Marketing / Public Relations                                    1
Banking and Finance, Information Technology, Marketing / Public Relations                           1
Manufacturing                                                                                       1
Marketing / Public Relations, Others                                                                1
Consulting, Engineering, Information Technology, Professional Services, Others                      1
Logistics / Supply Chain, Manufacturing                                                             1
Consulting, General Management, Information Technology, Risk Management, Others                     1
Advertising / Media, Education and Training, Information Technology                                 1
Consulting, Engineering, Information Technology, Professional Services, Public / Civil Service      1
General Work                                                                                        1
Consulting, Healthcare / Pharmaceutical, Sciences / Laboratory / R&D                                1
Admin / Secretarial, Building and Construction                                                      1
Admin / Secretarial, Healthcare / Pharmaceutical                                                    1
Information Technology, Telecommunications, Others                                                  1
Wholesale Trade                                                                                     1
Customer Service, Design, Engineering, Manufacturing, Risk Management                               1
Accounting / Auditing / Taxation, Information Technology, Professional Services, Others             1
Admin / Secretarial, Engineering, Manufacturing                                                     1
Name: job_cat, dtype: int64

Re-classification of Job Catagories to their primary category

In [246]:
def job_cat_recat(job_cat):
    job_cat = job_cat.lower().split(",")[0]
    return job_cat

In [247]:
df['job_cat'] = df['job_cat'].apply(job_cat_recat)

In [248]:
df.job_cat.value_counts()

information technology              137
banking and finance                  70
consulting                           18
others                               18
public / civil service               14
engineering                          11
healthcare / pharmaceutical           8
accounting / auditing / taxation      5
advertising / media                   4
marketing / public relations          4
insurance                             4
admin / secretarial                   3
sciences / laboratory / r&d           3
logistics / supply chain              3
customer service                      2
general work                          1
building and construction             1
wholesale trade                       1
human resources                       1
manufacturing                         1
Name: job_cat, dtype: int64

# Converting salary range to average salary

Since our target variable is salary, we will remove the rows with undisclosed salary

In [249]:
df = df[df['salary_range'] != 'Salary undisclosed']

In [250]:
df.salary_unit.value_counts()

Monthly    294
Name: salary_unit, dtype: int64

In [251]:
def get_avg_salary(input):
    spl = input.split("to")
    min_salary = float(sub(r'[^\d.]', '', spl[0]))
    max_salary = float(sub(r'[^\d.]', '', spl[1]))
    return (min_salary+max_salary)/2

In [252]:
df['avg_salary'] = df['salary_range'].apply(get_avg_salary)

<ipython-input-252-de261dde558d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['avg_salary'] = df['salary_range'].apply(get_avg_salary)

In [253]:
df

,Unnamed: 0,company,job_title,listing_id,address,employment_type,seniority,min_exp,job_cat,salary_range,salary_unit,date_posted,date_expiry,job_description,avg_salary
0,0,DELIVERY HERO APAC PTE. LIMITED,analyst,MCF-2021-0240128,"CROSS STREET EXCHANGE, 18 CROSS STREET 048423",full time,Junior Executive,2,information technology,"$5,000to$8,500",Monthly,Posted 27 May 2021,Closing on 26 Jun 2021,Roles & Responsibilities\nWe are looking for a...,6750.0
1,1,HELIUS TECHNOLOGIES PTE. LTD.,analyst,MCF-2021-0238815,Islandwide,full time,Senior Executive,6,information technology,"$6,800to$9,000",Monthly,Posted 27 May 2021,Closing on 26 Jun 2021,Roles & Responsibilities\nTitle: Senior Data A...,7900.0
2,2,COMFORTDELGRO CORPORATION LIMITED,analyst,MCF-2021-0190739,205 BRADDELL ROAD 579701,full time,Senior Executive,2,others,"$4,500to$7,000",Monthly,Posted 28 Apr 2021,Closing on 28 May 2021,Roles & Responsibilities\nWho are We Looking F...,5750.0
3,3,DARAZ SINGAPORE PRIVATE LIMITED,analyst,MCF-2021-0240086,"AXA TOWER, 8 SHENTON WAY 068811",full time,Senior Executive,3,information technology,"$6,000to$9,000",Monthly,Posted 27 May 2021,Closing on 26 Jun 2021,Roles & Responsibilities\nWe are looking for a...,7500.0
4,4,BIPO SERVICE (SINGAPORE) PTE. LTD.,analyst,MCF-2021-0240396,Islandwide,full time,Manager,5,banking and finance,"$9,000to$15,000",Monthly,Posted 27 May 2021,Closing on 26 Jun 2021,Roles & Responsibilities\nJob Description:\nLe...,12000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,304,COMFORTDELGRO CORPORATION LIMITED,analyst,MCF-2021-0190739,205 BRADDELL ROAD 579701,full time,Senior Executive,2,others,"$4,500to$7,000",Monthly,Posted 28 Apr 2021,Closing on 28 May 2021,Roles & Responsibilities\nWho are We Looking F...,5750.0
305,305,THE GREAT EASTERN LIFE ASSURANCE COMPANY LIMITED,analyst,MCF-2021-0190284,"GREAT EASTERN CENTRE, 1 PICKERING STREET 048659",full time,Senior Executive,1,insurance,"$3,800to$7,000",Monthly,Posted 28 Apr 2021,Closing on 28 May 2021,Roles & Responsibilities\nJob Purpose\nThe Bus...,5400.0
306,306,TIKTOK PTE. LTD.,analyst,MCF-2021-0191253,1 RAFFLES QUAY 048583,full time,Professional,3,others,"$7,500to$15,000",Monthly,Posted 28 Apr 2021,Closing on 28 May 2021,Roles & Responsibilities\nTikTok is the leadin...,11250.0
307,307,OPTIMUM SOLUTIONS (SINGAPORE) PTE LTD,analyst,MCF-2021-0190044,"PLAZA 8 @ CBP, 1 CHANGI BUSINESS PARK CRESCENT...",full time,Executive,5,information technology,"$6,800to$7,800",Monthly,Posted 28 Apr 2021,Closing on 28 May 2021,Roles & Responsibilities\nRoles and Responsibi...,7300.0
308,308,ACCREDIFY PTE. LTD.,analyst,MCF-2021-0190578,75 AYER RAJAH CRESCENT 139953,full time,Fresh/entry level,0,information technology,"$3,000to$4,000",Monthly,Posted 28 Apr 2021,Closing on 28 May 2021,Roles & Responsibilities\nAccredify is a well-...,3500.0

 # Dropping unused columns

In [254]:
df.drop(columns=['company','address','salary_range','salary_unit','date_posted','date_expiry'])

,Unnamed: 0,job_title,listing_id,employment_type,seniority,min_exp,job_cat,job_description,avg_salary
0,0,analyst,MCF-2021-0240128,full time,Junior Executive,2,information technology,Roles & Responsibilities\nWe are looking for a...,6750.0
1,1,analyst,MCF-2021-0238815,full time,Senior Executive,6,information technology,Roles & Responsibilities\nTitle: Senior Data A...,7900.0
2,2,analyst,MCF-2021-0190739,full time,Senior Executive,2,others,Roles & Responsibilities\nWho are We Looking F...,5750.0
3,3,analyst,MCF-2021-0240086,full time,Senior Executive,3,information technology,Roles & Responsibilities\nWe are looking for a...,7500.0
4,4,analyst,MCF-2021-0240396,full time,Manager,5,banking and finance,Roles & Responsibilities\nJob Description:\nLe...,12000.0
...,...,...,...,...,...,...,...,...,...
304,304,analyst,MCF-2021-0190739,full time,Senior Executive,2,others,Roles & Responsibilities\nWho are We Looking F...,5750.0
305,305,analyst,MCF-2021-0190284,full time,Senior Executive,1,insurance,Roles & Responsibilities\nJob Purpose\nThe Bus...,5400.0
306,306,analyst,MCF-2021-0191253,full time,Professional,3,others,Roles & Responsibilities\nTikTok is the leadin...,11250.0
307,307,analyst,MCF-2021-0190044,full time,Executive,5,information technology,Roles & Responsibilities\nRoles and Responsibi...,7300.0
308,308,analyst,MCF-2021-0190578,full time,Fresh/entry level,0,information technology,Roles & Responsibilities\nAccredify is a well-...,3500.0

In [255]:
df.to_csv('jobs_cleaned.csv')